/*@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');*/
* {
  padding: 0;
  margin: 0;
}

.body {
  /*background: url('../img/bg.jpg');*/
  background-color: rgb(11, 168, 160);
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  top: 1px;
  right: 160px;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Georgia', serif;
}

#hiscoreBox {
  position: absolute;
  top: 1px;
  left: 140px;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Georgia', serif;
}

#board {
  background: linear-gradient(rgb(233, 195, 26), rgb(223, 209, 11));
  width: 90vw;
  height: 90vh;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
}

.head {
  background: linear-gradient(rgb(21, 158, 3), rgb(6, 228, 17));
  border: 2px solid rgb(34, 4, 34);
  transform: scale(1.02);
  border-radius: 9px;
}

.snake {
  background-color: rgb(84, 197, 69);
  border: 0.25vmin solid white;
  border-radius: 12px;
}

.food {
  background: linear-gradient(red, rgb(255, 153, 0));
  border: 0.25vmin solid black;
  border-radius: 8px;
}
